.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--text-color);
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--main-font-weight);
  background-color: var(--page-background-color);
  background-image: var(--page-background-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 71px;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  inline-size: var(--content-inline-size);
  min-block-size: 370px;
  padding: 50px 10px;
  border: 2px solid var(--text-color);
  background-color: var(--page-background-color);
}

.header__title {
  font-family: var(--accent-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.header__subtitle {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 47px;
  padding: 26px 0 100px;
}

.card {
  inline-size: var(--content-inline-size);
  border: 2px solid var(--text-color);
  background-color: var(--page-background-color);
}

.card__header {
  padding: 4px 10px;
  border-block-end: 2px solid var(--text-color);
}

.card__title {
  font-size: 18px;
  line-height: normal;
  font-variation-settings: 'wght' var(--title-font-weight);
}

.card__image-block {
  position: relative;
  inline-size: 100%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  border-block-end: 2px solid var(--text-color);
}

.card__image--brightness {
  filter: brightness(1.05);
}

.card__image--contrast {
  filter: contrast(1.1);
}

.card__image--saturate-hue {
  filter: hue-rotate(300deg) saturate(2);
}

.card__image--saturate {
  filter: saturate(1.5);
}

.card__image--hue {
  filter: hue-rotate(40deg);
}

.card__image--grayscale {
  filter: grayscale(0.7);
}

.card__image--blur {
  filter: blur(12px);
  transform: scale(1.1);
}

.card__image--sepia {
  filter: sepia(0.6) brightness(0.9);
}

.card__label {
  position: absolute;
  z-index: 1;
  inset-block-start: 25px;
  inset-inline-end: 30px;
  opacity: 0.5;
  color: var(--text-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--label-stroke-color),
    0 1px var(--label-stroke-color),
    1px 0 var(--label-stroke-color),
    0 -1px var(--label-stroke-color);
  mix-blend-mode: hard-light;
}

@supports ((-webkit-text-stroke: 1px var(--label-stroke-color)) or (text-stroke: 1px var(--label-stroke-color))) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

.card__text {
  font-size: 18px;
  line-height: calc(21 / 18);
  font-variation-settings: 'wght' var(--main-font-weight);
}

.card__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  padding: 0 25px 25px;
}

.button {
  position: relative;
  z-index: 1;
  border: 2px solid var(--text-color);
  overflow: hidden;
  background-color: var(--page-background-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--text-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--text-color);
}

.button__text {
  position: relative;
  color: var(--button-text-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
  mix-blend-mode: difference;
}

.card__like-button {
  padding: 9px 17px;
  min-inline-size: 130px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 2px solid transparent;
  background-color: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color);
}

.like-icon {
  display: block;
  inline-size: 39px;
  block-size: 36px;
}

.save-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 13px 18px;
}

.button__icon {
  position: relative;
  inline-size: 21px;
  block-size: 21px;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.dialog {
  max-inline-size: clamp(310px, 90%, 357px);
  padding: 30px;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--page-background-color);
}

.dialog:not([open]) {
  display: none;
}

.dialog[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.dialog__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__button {
  inline-size: 100%;
  padding: 9px 0;
  text-transform: uppercase;
}

@media (width <=375px) {
  .header {
    padding: 100px 0 74px;
  }

  .header__logo {
    min-block-size: 327px;
  }

  .content {
    gap: 49px;
  }

  .save-button {
    flex-direction: column;
    gap: 12px;
  }

  .button__icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog {
    padding: 30px 38px;
  }

  .card__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
  }

}