:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff0000;

  --text-color: var(--color-black);
  --page-background-color: var(--color-white);
  --accent-color: var(--color-red);
  --button-text-color: var(--page-background-color);
  --label-stroke-color: var(--page-background-color);

  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', fantasy;
  --main-font-weight: 400;
  --title-font-weight: 700;

  --content-inline-size: clamp(320px, 100%, 700px);

  --page-grid-base: #d4d4d4;
  --page-background-image:
    repeating-linear-gradient(to right, #b3b3b3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #b3b3b3 0 2px, transparent 2px 4px);

  --like-main-body-color: none;
  --like-contour-color: var(--text-color);
  --like-sparks-color: var(--accent-color);
}
